body {
    margin: 0;
    font-family: Arial, sans-serif;
    user-select: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7366bd;
    padding: 10px 20px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25),
    			0 5px 5px rgba(0,0,0,0.22);

}

.logo {
    color: white;
    font-weight: bold;
}
.header a {
    text-decoration: none;
}
.SignIn-container {
    display: flex;
    align-items: center;

}
.login-btn {
    height: 2em;
    padding: 5px 10px;
    border-radius: 5px;
    background: linear-gradient(to right, #5c4db1, #FF416C);
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 1em;
    box-shadow: 0 5px 28px rgba(0,0,0,0.10),
                    0 10px 10px rgba(0,0,0,0.10);
}

.content-container {
    display: flex;

}

.sidebar {
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    			0 10px 10px rgba(0,0,0,0.22);
    background: linear-gradient(to right, #7366bd, #FF416C);
    margin-left: 0.7em;
    margin-top: 0.7em;
    height: 85vh;
    width: 11em;
}

.sidebar ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar.collapsed ul li a {
    display: none;
}
.sidebar img {
    width: 1.5em; height: 1.5em;
    margin-right: 1em;
    filter: invert(100%);
}
.divider {
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 1em 0;
}
.selected {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    width: 100%;
}
.menu-item {
    width: 100%;
    height: 2.5em;
    display: flex;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    cursor: pointer;
}
.menu-item:hover {
    background-color:rgba(255, 255, 255, 0.3);
    color: #333; /* Цвет текста */
}

#collapseBtn {
    background: url("images/hamburger_button.png");
    filter: invert(100%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
    border: none;
    margin-left: 1.3em;
    cursor: pointer;
}
.content {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    background-color: #2f2261;
    padding: 10px;
}

/* Стили для каждого трека */
.track {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Стили для обложки трека */
.cover-image {
    width: 50px; /* Задайте ширину и высоту вашей обложки */
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

/* Стили для информации о треке (название, исполнитель) */
.track-info {
    display: flex; /* Располагаем элементы в строку */
    align-items: center; /* Выравниваем элементы по вертикали */
    flex: 1; /* Растягиваем на всю доступную ширину */
    margin-right: 10px; /* Добавляем отступ справа для разделения между информацией и кнопками */
}

/* Стили для текста плейлиста */
.track-info .title {
    font-weight: bold;
}

/* Стили для кнопок в блоке трека */
.actions {
    display: flex; /* Располагаем кнопки в строку */
    margin-left: auto; /* Кнопки располагаются вправо */
}

/* Стили для кнопок в треке */
.actions button {
    margin-left: 5px; /* Добавляем небольшой отступ между кнопками */
    background-color: #7366bd;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.section {
    border-radius: 7px;
    background: linear-gradient(to right, rgba(255, 65, 108, 0.7), rgba(115, 102, 189, 0.7));
    box-shadow: 0 5px 7px rgba(0,0,0,0.25),
                0 5px 5px rgba(0,0,0,0.22);
    color: white;
    padding: 1em;
    margin: 0;
    margin-top: 0.7em;
}
.section-title {
    margin: 0;
    margin-bottom: 1em;
}

.playlists-container {
    display: flex;
    overflow-x: auto;
}
.playlist {
    padding-right: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 7.5em;
    text-align: left;
    cursor: pointer;
}

.playlist img {
    width: 7em;
    height: 7em;
    border-radius: 7px;
}

.playlist-title {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
}
.playlist-author {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.8em;
}

.playlist img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* добавление тени */
    background-color: rgba(0, 0, 0, 0.5); /* цвет пленочки */
    cursor: pointer; /* изменение курсора при наведении */
}



.playlist img:hover::after:hover {
    /* стили для нажатия на кнопку плей */
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

/* Стили для кнопок внутри плейлиста */
.playlist .actions button {
    margin-left: 10px;
    background-color: #2f2261;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.avatar-button {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    font-size: 24px;
    color: white;
    background: linear-gradient(to right, #5c4db1, #FF416C); /* Цвет фона кнопки */
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 28px rgba(0,0,0,0.10),
         0 10px 10px rgba(0,0,0,0.10);
}

.avatar-button:hover {
    background-color: #0056b3; /* Цвет фона кнопки при наведении курсора */
}
.logo img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
}

.search-container {
    position: relative;
    width: 25vw;
    height: 6vh;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 7px;
    box-shadow: 0 5px 28px rgba(0,0,0,0.10),
                0 10px 10px rgba(0,0,0,0.10);
}

input[type="text"] {
    width: calc(100% - 40px);
    height: calc(100% - 10px);
    padding: 5px;
    padding-left: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 7px;
    color: white;

}
input[type="text"]::placeholder {
    color: white;
    font-size: 16px;
}
input[type="text"]:focus  {
    border-color: red;
}

.search-button {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 1.4em;
    height: 1.4em;
    background: url("images/search.png") center/cover no-repeat;
    filter: invert(100%);
    border: none;
    cursor: pointer;
}


/* Стили для полосы прокрутки */
::-webkit-scrollbar {
    width: 10px; /* Ширина полосы прокрутки */
    height: 10px;
}

/* Стили для трека (основной части) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Цвет фона трека */
}

/* Стили для дорожки (наполнения) */
::-webkit-scrollbar-thumb {
    background: #FF416C; /* Цвет дорожки */
    border-radius: 5px; /* Закругление углов */
}

/* Стили для активного (наведенного) состояния */
::-webkit-scrollbar-thumb:hover {
    background: #5c4db1; /* Цвет дорожки при наведении */
}








