@import url(https://fonts.googleapis.com/css?family=Poppins:200,400);
body {
    margin: 0;
    font-family: Arial, sans-serif;
    user-select: none;
}

header {
    position: sticky;
    top: 0; /* Фиксируем хедер вверху экрана */
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7366bd;
    padding: 10px 20px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25),
    			0 5px 5px rgba(0,0,0,0.22);
    height: 70px;

}

.playPauseButton{
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    height: 2em;
    width: 2em;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px; /* Расстояние между кнопкой и прогресс-баром */
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 25px;
}
.header a {
    text-decoration: none;
}
.SignIn-container {
    display: flex;
    align-items: center;

}
.login-btn {
    height: 2em;
    padding: 5px 10px;
    border-radius: 5px;
    background: linear-gradient(to right, #5c4db1, #FF416C);
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 0.5em;
    box-shadow: 0 5px 28px rgba(0,0,0,0.10),
                    0 10px 10px rgba(0,0,0,0.10);
}

.content-container {
    display: flex;
}

.sidebar {
    position: sticky;
    top: 100px;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    			0 10px 10px rgba(0,0,0,0.22);
    background: linear-gradient(to right, #7366bd, #FF416C);
    margin-left: 0.7em;
    margin-top: 0.7em;
    height: 85vh;
    width: 11em;
}

.sidebar ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar.collapsed ul li a {
    display: none;
}
.sidebar img {
    width: 1.5em; height: 1.5em;
    margin-right: 1em;
    filter: invert(100%);
}
.divider {
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 1em 0;
}
.selected {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    width: 100%;
}
.menu-item {
    width: 100%;
    height: 2.5em;
    display: flex;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    cursor: pointer;
}
.menu-item:hover {
    background-color:rgba(255, 255, 255, 0.3);
    color: #333; /* Цвет текста */
}

#collapseBtn {
    background: url("images/hamburger_button.png");
    filter: invert(100%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
    border: none;
    margin-left: 1.3em;
    cursor: pointer;
}
.content {
    flex: 1;
    padding-left: 17px;
    /*padding-right: 20px;*/
    width: 80%;
}

.footer {
    background-color: #2f2261;
    padding: 10px;
}

/* Стили для каждого трека */
.track {
    box-shadow: 0 5px 7px rgba(0,0,0,0.25),
			0 5px 7px rgba(0,0,0,0.22);
    border: 1px solid rgba(255, 255, 255, 0.3);;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    position: relative;
}

.track:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Стили для обложки трека */
.cover-image {
    width: 50px; /* Задайте ширину и высоту вашей обложки */
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

/* Стили для информации о треке (название, исполнитель) */
.track-info {
    display: flex; /* Располагаем элементы в строку */
    align-items: center; /* Выравниваем элементы по вертикали */
    flex: 1; /* Растягиваем на всю доступную ширину */
    margin-right: 10px; /* Добавляем отступ справа для разделения между информацией и кнопками */
}
.play-button {
    position: absolute;
    width: 50px; /* Ширина контейнера равна ширине обложки */
    height: 50px; /* Высота контейнера равна высоте обложки */
}


.play-pause-button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center; /* Центрирование по горизонтали и вертикали */
    background-size: 50%;
    background-opacity: 1;
}

.playing {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Стили для текста плейлиста */
.track-info .title {
    font-weight: bold;
}

/* Стили для кнопок в блоке трека */
.actions {
    display: flex; /* Располагаем кнопки в строку */
    margin-left: auto; /* Кнопки располагаются вправо */
}

/* Стили для кнопок в треке */
.actions button {
    margin-left: 5px; /* Добавляем небольшой отступ между кнопками */
    background-color: #7366bd;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.section {
    border-radius: 7px;
    background: linear-gradient(to right, rgba(255, 65, 108, 0.7), rgba(115, 102, 189, 0.7));
    box-shadow: 0 5px 7px rgba(0,0,0,0.25),
                0 5px 5px rgba(0,0,0,0.22);
    color: white;
    padding: 1em;
    margin: 0;
    margin-top: 0.7em;
}
.section-title {
    margin: 0;
    margin-bottom: 1em;
}

.playlists-container {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
    gap: 5px;
}
.playlist {
    padding-right: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 7.5em;
    text-align: left;
    cursor: pointer;
}

.playlist img {
    width: 7em;
    height: 7em;
    border-radius: 7px;
}

.playlist-title {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
}
.playlist-author {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.8em;
}

.playlist img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* добавление тени */
    background-color: rgba(0, 0, 0, 0.5); /* цвет пленочки */
    cursor: pointer; /* изменение курсора при наведении */
}
.playlist img:active {
    background-color: rgba(0, 0, 0, 0.6); /* цвет пленочки */
}



.playlist img:hover::after:hover {
    /* стили для нажатия на кнопку плей */
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

/* Стили для кнопок внутри плейлиста */
.playlist .actions button {
    margin-left: 10px;
    background-color: #2f2261;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}


.tracksFromPlaylistSection{
    border-radius: 7px;
    background: linear-gradient(to right, rgba(255, 65, 108, 0.7), rgba(115, 102, 189, 0.7));
    box-shadow: 0 5px 7px rgba(0,0,0,0.25),
                0 5px 5px rgba(0,0,0,0.22);
    color: white;
    padding: 1em;
    margin: 0;
    margin-top: 0.7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#bigPlaylist{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 50%;
    gap: 10px;
}
.big_playlist_image{
    border-radius: 10px;
    width: 80%;
}
.big_playlist_title{
    font: 30px;
    font-weight: bold;
}
.big_playlist_artist{
    font: 30px;
    font-weight: bold;
}
#tracksFromBigPlaylist{

}







.avatar-button {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    font-size: 24px;
    color: white;
    background: linear-gradient(to right, #5c4db1, #FF416C); /* Цвет фона кнопки */
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 28px rgba(0,0,0,0.10),
         0 10px 10px rgba(0,0,0,0.10);
}

.avatar-button:hover {
    background-color: #0056b3; /* Цвет фона кнопки при наведении курсора */
}
.logo img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
}

.search-container {
    position: relative;
    width: 25vw;
    height: 6vh;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 7px;
    box-shadow: 0 5px 28px rgba(0,0,0,0.10),
                0 10px 10px rgba(0,0,0,0.10);

    height: 50px;
}

input[type="text"] {
    width: calc(100% - 40px);
    height: calc(100% - 10px);
    padding: 5px;
    padding-left: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 7px;
    color: white;

}
input[type="text"]::placeholder {
    color: white;
    font-size: 16px;
}
input[type="text"]:focus  {
    border-color: red;
}

.search-button {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 1.4em;
    height: 1.4em;
    background: url("images/search.png") center/cover no-repeat;
    filter: invert(100%);
    border: none;
    cursor: pointer;
}


/* Стили для полосы прокрутки */
::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
    height: 8px;
}

/* Стили для трека (основной части) */
::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #f1f1f1; /* Цвет фона трека */
}

/* Стили для дорожки (наполнения) */
::-webkit-scrollbar-thumb {
    background: #FF416C; /* Цвет дорожки */
    border-radius: 5px; /* Закругление углов */
}

/* Стили для активного (наведенного) состояния */
::-webkit-scrollbar-thumb:hover {
    background: #5c4db1; /* Цвет дорожки при наведении */
}


#headerAudioPlayer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.prev-button,
.next-button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: none;
    border: none;
    background-repeat: no-repeat;
    background-position: center; /* Центрирование по горизонтали и вертикали */
    background-size: 50%;
}

.prev-button {
    background-image: url('images/nextButton.png');
    transform: scaleX(-1);
}

.next-button{
    background-image: url('images/nextButton.png');
}
.prev-button:hover,
.next-button:hover {
    background-color: rgba(255, 247, 247, 0.4)
}
.prev-button:active,
.next-button:active {
    background-color: rgba(255, 247, 247, 0.2)
}

#player {
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;
    padding:  10px 10px;
    border-radius: 7px;
    background: rgba(255, 247, 247, 0.7)
}

#player-track {
  width: 200px;
  height: 50px;
  /*padding: 10px 20px;*/
  /*ackground-color: #fff7f7;*/
  z-index: 1;
}

#player-track.active {
    top: -92px;
}

.header-cover-image {
    width: 50px; /* Задайте ширину и высоту вашей обложки */
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;

}

#track-name {
    color: #54576f;
    font-size: 16px;
    font-weight: bold;
}

#track-artist {
    font-size: 12px;
    color: gray;
}

.scrolling-text-container {
    width: 100%; /* Ширина контейнера */
    height: 16px; /* Высота контейнера */
    overflow: hidden; /* Скрытие части текста, выходящей за границы контейнера */
    position: relative; /* Необходимо для позиционирования абсолютно позиционированных элементов относительно контейнера */
}

.scrolling-text-container div {
    position: absolute; /* Абсолютное позиционирование текста */
    white-space: nowrap; /* Предотвращение переноса текста на новую строку */
    animation: scroll 7s linear infinite; /* Анимация скроллинга */

}

@keyframes scroll {
    0% { left: 0; } /* Начальное положение текста (без смещения) */
    30% { left: 0; }
    100% { left: -100%; } /* Конечное положение текста */
}

#track-time {
  height: 11px;
  margin-bottom: 3px;
  overflow: hidden;
  color: #acaebd;
}

#current-time {
  float: left;
}

#track-length {
  float: right;
}

#current-time,
#track-length {
  color: #54576f;
  font-size: 11px;
  /*background-color: #ffe8ee;*/
  border-radius: 10px;
  transition: 0.3s ease all;
}

#track-time.active #current-time,
#track-time.active #track-length {
  color: #acaebd;
  background-color: transparent;
}

#s-area,
#seek-bar {
  position: relative;
  height: 4px;
  border-radius: 4px;
}

#s-area {
  background-color: #ffe8ee;
  cursor: pointer;
}

#ins-time {
  position: absolute;
  top: -29px;
  color: #fff;
  font-size: 12px;
  white-space: pre;
  padding: 5px 6px;
  border-radius: 4px;
  display: none;
}

#s-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: 2;
}

#ins-time,
#s-hover {
  background-color: #3b3d50;
}

#seek-bar {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #fd6d94;
  transition: 0.2s ease width;
  z-index: 100;

}

#player-content {
  position: relative;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  z-index: 2;
  background: none;
  align-items: center;
}

/*
#player-controls {
  width: 150px;
  height: 100%;
  margin: 0 5px 0 5px;
  float: right;
  overflow: hidden;
}
*/

.control {
  float: left;
}

.button {
  width: 10px;
  height: 10px;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.button i {
  display: block;
  color: #d6dee7;
  font-size: 15px;
  text-align: center;
  /*line-height: 1;*/
}

.button,
.button i {
  transition: 0.2s ease all;
}

.button:hover {
  background-color: #d6d6de;
}

.button:hover i {
  color: #fff;
}




